.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member p {
    margin-top: 0;
}
.team-member h3 {
    text-transform: none;
    font-weight: 600;
    color: #333;
}

.team-member h4 {
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    color: #777;
    margin-bottom: 0px;
}

.team-member h4 a {
    text-transform: none;
}

.team-member h5 {
    font-size: 14px;
    text-transform: none;
    font-style: italic;
    font-weight: 200;
    color: #777;
    margin-bottom: 15px
}

.team-member .report  {
    margin-top: 0px;
}

.team-member h5 a {
    text-transform: none;
}

.team-member ul {
    list-style: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
}

.team-bio {
    padding: 15px
}

.image-box-shadow {
    display:block;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 10px 10px 31px 0px rgb(129, 123, 128);
    -moz-box-shadow: 10px 10px 31px 0px rgb(129, 123, 128);
    box-shadow: 10px 10px 31px 0px rgb(129, 123, 128);
}